/*nav*/
.app-nav {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 3rem;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0,0,0,0.8);
    color: #F5FFFA;
    transition: background 0.35s linear, height 0.35s ease-in;
}
.app-nav.open {
   height: 100%;
   background-color: #000;
   transition: background 0.35s linear, height 0.35s ease-in 0.2s;
}

.app-nav button {
    border-color: #fff;
}

.app-nav > ul {
    padding: 0.625rem;
}

.nav-logo {
    display: block;
    transition: transform 0.2s ease-in;
}
.search-show .nav-logo,
.search-open .nav-logo {
    transform: translateY(-130%);
}

.open .avatar {
    transform: translateX(150%);
}
.avatar {
    display: block;
    transition: transform 0.25s ease-out 0.2ms;
}
.avatar img {
    display: inline-block;
    height: 1.625rem;
    width: 1.625rem;
    vertical-align: middle;
    border-radius: 0.3125rem;
    border: 1px solid #F5FFFA;
    box-sizing: border-box;
}

.menu-icon {
    position: relative;
    display: block;
    width: 1.625rem;
    height: 1.625rem;
    /*margin: 0 0.75rem;*/
}
.menu-icon > span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.25s ease-in-out;
    padding: 0.75rem 0.25rem;
}

.menu-icon > span:first-child > span {
    transform: translateY(-0.1875rem);
}
.menu-icon > span > span{
    display: block;
    width: 1.0625rem;
    height: 1px;
    background-color: #fff;
    transition: transform 0.2s 0.2s;
}

.menu-icon > span:last-child > span {
    transform: translateY(0.1875rem);
}

.open .menu-icon > span:first-child {
    transform: rotate(45deg);
}
.open .menu-icon > span:last-child {
    transform: rotate(-45deg);
}
.open .menu-icon > span > span {
    transform: translate(0rem);
}

/*menu content*/
.menu-wrap {
    position: absolute;
    top: 3rem;
    bottom: 0;
    left: 0;
    right: 0;
    /*height: 100%;*/
    padding: 0 3rem;
}

/*.menu-content label {
    position: absolute;
    top: 1.5rem;
    left: 50%;
    display: block;
    height: 80%;
    width: 2.5rem;
    margin-left: -1.25rem;
    background-color: #8B4726;
}*/

.menu-item {
    width: 100%;
    height: 2.75rem;
    /*border-bottom: 1px solid #333;*/
    margin-top: 1.5rem;
    opacity: 0;
    transition: opacity 0.35s ease-out, transform 0.35s ease-out;
    will-change: transform, opacity;
    transform: scale(1.1) translateY(1rem);
}

.menu-item:nth-child(1) {
    transition-delay: 250ms;
}
.menu-item:nth-child(2) {
    transition-delay: 200ms;
}
.menu-item:nth-child(3) {
    transition-delay: 150ms;
}
.menu-item:nth-child(4) {
    transition-delay: 100ms;
}
.menu-item:nth-child(5) {
    transition-delay: 50ms;
}
.menu-item:last-child {
    padding-bottom: 1.25rem;
}

.menu-item > a {
    display: block;
    height: 100%;
    line-height: 2.5;
    background-color: #6E8B3D;
    box-shadow: 0 0.25rem 0.25rem 0.125rem #4f6020;
    padding: 0 0.9375rem;
    clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 115%, 0 115%);
    transition: transform 0.1s;
}
.menu-item > a:hover {
    transform: translateY(0.25rem);
    box-shadow: 0  0.125rem 0.125rem 0 #556B2F;
}

.menu-item > a .icon {
    margin-right: 0.25rem;
}

.open .menu-item {
    opacity: 1;
    transform: none;
}
.open .menu-item:nth-child(1) {
    transition-delay: 250ms;
}
.open .menu-item:nth-child(2) {
    transition-delay: 300ms;
}
.open .menu-item:nth-child(3) {
    transition-delay: 350ms;
}
.open .menu-item:nth-child(4) {
    transition-delay: 400ms;
}
.open .menu-item:nth-child(5) {
    transition-delay: 450ms;
}

.search-show .menu-content {
    will-change: transform;
    animation: searchShow 0.5s ease-in;
}
.search-hide .menu-content {
    animation: searchShow 0.5s ease-in reverse;
}
.search-open .menu-content {
    display: none;
}

.search-content {
    display: none;
}
.search-show .search-content form,
.search-hide .search-content form {
    opacity: 0;
    /*animation: searchFormShow 1s ease-in 0.7s;*/
}
/*.search-hide .search-content form {
    opacity: 1;
    animation: searchFormShow 0.2s ease-in 0.1s reverse;
}*/

.search-open .search-content,
.search-show .search-content,
.search-hide .search-content {
    display: block;
}

.search-close-btn.btn {
    position: absolute;
    width: 1.625rem;
    top: -1.8125rem;
    left: 50%;
    margin-left: -0.75rem;
    opacity: 0;
}
.search-open .search-close-btn {
    opacity: 1;
}
/*.search-show .search-close-btn {
    animation: searchCloseShow 0.5s ease-in;
}
.search-hide .search-close-btn {
    animation: searchCloseShow 0.5s ease-in reverse;
}*/